/* 專屬於標題的樣式從 App.css 拆分出來 */
.cgu-title {
  color: red;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
  word-wrap: break-word;
  max-width: 90%; 
  line-height: 1.2; 
} /* */

.cgu-title {
  text-align: center;
}