{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>CJ</title>
    <style>
        body {
            /* 優先使用微軟正黑體，沒有的話用無襯線字體 */
            font-family: "Microsoft JhengHei", sans-serif;
            font-size: 18px; /* 設定字體大小 */
            color: #333333;  /* 設定字體顏色 */
        }
    </style>
</head>
<body>
    <p>我的老天<br>
韓國娛樂圈知名大勢女歌手IU(李知恩)，與非圈內男性為戀愛關係。<br>

Dispatch已透過多方管道確認，<br>

今年32歲的IU目前正與一名非演藝圈男性進行戀愛交往。據悉是台灣人。<br>

兩人並非近期才開始往來。<br>

Dispatch於數個不同時間點，目擊雙方在非工作時段單獨會面，行程規律且具持續性，並非偶發接觸，且在韓國首爾與台灣桃園捕捉到兩位身影，甚至疑似已見過雙方家人。<br>

該名男性未參與任何演藝相關活動，亦非工作人員。會面多選在深夜或已打烊場所，刻意避開人潮，顯示雙方對關係曝光保持高度謹慎。目前傳出有可能是一位名叫「CJ Wu」的40歲素人男性。<br>

Dispatch向EDAM娛樂高層等相關人士進行確認後，對方回應為：「確實為戀愛關係」、「屬於私人生活」<br>

目前確認，該戀情未對團體行程或公開活動造成影響。IU仍正常消化所有團體及個人代言既定工作。故經紀公司並未多加干涉。<br>

Dispatch基於事實確認進行報導，不對戀愛本身作出評價。</p>
    <img src="{% static 'cj_iu.png' %}" alt="Logo">
    
</body>
</html>
